# dependencies
node_modules/

# environment files
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# build outputs
/dist/
/build/
coverage/
**/.expo/
packages/mobile/.expo/

# editor files
.vscode/
.DS_Store
